@using QLSTK.Models
@using System.Data.Entity
@using Microsoft.AspNet.Identity
@{
    Entities db = new Entities();

    var listLoaiTK = db.LoaiTietKiems.ToList();
    var username = "khach@gmail.com";
    if (Request.IsAuthenticated)
    {
        username = @User.Identity.GetUserName(); // người đang đăng nhập hiện tại
    }
    var DBusername = db.AspNetUsers.Single(d => d.Email.Equals(username));
    var idusername = DBusername.Id;

    var CountUser = db.AspNetUsers.Count(); // đếm user
    var CountChatBoxes = db.ChatBoxes.Count(); // đếm tổng số lượng tin nhắn
    var CountPhieuGuiTien = db.PhieuGuiTiens.Count(); //đếm tổng phiếu gữi tiền
    var CountPhieuRutTien = db.PhieuRutTiens.Count(); //đếm tổng phiếu rút tiền
    var luotgiaodich = CountPhieuGuiTien + CountPhieuRutTien; //đếm tổng cộng phiếu gữi tiền và phiếu rút tiền
    var listUser = db.AspNetUsers.Single(d=>d.Id.Equals(idusername)); // tạo danh sách User
    var DemItemNull = 0;
    var fullItem = 8;
    var nhungthuconthieu = "";

    if (listUser.HoTen == null)
    {
        DemItemNull++;
        nhungthuconthieu = nhungthuconthieu + "|Họ Tên|";
    }
    if (listUser.MaTrangThai == null)
    {
        DemItemNull++;
        nhungthuconthieu = nhungthuconthieu + "|Mã Trạng Thái";
    }
    if (listUser.MaLoaiTK == null)
    {
        DemItemNull++;
        nhungthuconthieu = nhungthuconthieu + "|Loại Tiết Kiệm";
    }
    if (listUser.SoTienGuiBanDau == null)
    {
        DemItemNull++;
        nhungthuconthieu = nhungthuconthieu + "|Số Tiền Gữi Ban Đầu";
    }
    if (listUser.NgayMoSo == null)
    {
        DemItemNull++;
        nhungthuconthieu = nhungthuconthieu + "|Ngày Mở Sổ";
    }
    if (listUser.SoDu == null)
    {
        DemItemNull++;
        nhungthuconthieu = nhungthuconthieu + "|Số Dư|";
    }
    if (listUser.DiaChi == null)
    {
        DemItemNull++;
        nhungthuconthieu = nhungthuconthieu + "|Địa Chỉ";
    }
    if (listUser.CMND == null)
    {
        DemItemNull++;
        nhungthuconthieu = nhungthuconthieu + "|CMND |";
    }
    var phantramnull = 100-(DemItemNull * 100 / fullItem);
}



    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Trang Chủ</b></h5>
    </header>

    <div class="w3-row-padding w3-margin-bottom w3-card w3-padding-16">
        <div class="w3-quarter">
            <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>@CountChatBoxes</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Tin Nhắn</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>@luotgiaodich</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Lượt giao dịch</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-teal w3-padding-16">
                <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>23</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Shares</h4>
            </div>
        </div>
        <div class="w3-quarter">
            <div class="w3-container w3-orange w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3>@CountUser</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Khách Hàng</h4>
            </div>
        </div>
    </div>
<!--Khách hàng-->
    @if (Request.IsAuthenticated)
    {
        <div class="w3-twothird">
        <div class="w3-container w3-card w3-white w3-margin-bottom w3-padding-16">
            <h5>Khách Hàng</h5>
            <p>Mức độ hoàn thiện thông tin khách hàng</p>
            @if (nhungthuconthieu == "")
            {
                <div class="w3-gray">
                    <div class="w3-container w3-center w3-padding w3-green" style="width:@phantramnull%">@phantramnull%</div>
                </div>
                <div class="w3-panel w3-white">
                    
                    <h3>Good!</h3>
                    <p>Tài khoản đã đầy đủ thông tin cần thiết</p>
                </div>
                <a class="w3-button w3-dark-gray" href=@Url.Action("Edit","Home", new { id = idusername })>Cập nhật thông tin <i class="fa fa-arrow-right"></i></a>
            }
            else
            {
                if(phantramnull<50)
                {
                    <div class="w3-grey">
                        <div class="w3-container w3-center w3-padding w3-red" style="width:@phantramnull%">@phantramnull%</div>
                    </div>
                }
                else
                {
                    <div class="w3-grey">
                        <div class="w3-container w3-center w3-padding w3-green" style="width:@phantramnull%">@phantramnull%</div>
                    </div>
                }
                <div class="w3-panel w3-white" style="width:400px">
                    <h3>Warning!</h3>
                    <p>Bạn vui lòng cập nhật đầy đủ những thông tin còn thiếu sau : @nhungthuconthieu</p>
                </div>
                <a class="w3-button w3-dark-grey" href=@Url.Action("Edit","Home", new { id = idusername })>Cập nhật thông tin <i class="fa fa-arrow-right"></i></a>

            }

        </div>
        </div>
        <!--Loại Tiết Kiệm-->
        <div class="w3-third">
            <div class="w3-container w3-card w3-white w3-margin-bottom  w3-padding-16">
                <h5>Loại Tiết Kiệm</h5>
                <p>Danh sách loại tiết kiệm</p>
                <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                    @foreach (var item in listLoaiTK)
            {
                <tr>
                    <td>@item.TenLoai</td>
                    <td>lãi suất @item.LaiSuat%</td>
                </tr>
    }
                </table><br>
            </div>
        </div>
    }

    else
    {
        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-third">
                    <h5>Quản lý sổ tiết kiệm</h5>
                    <img src="~/Content/image/region.jpg" style="width:100%" alt="Google Regional Map">
                </div>
                <div class="w3-twothird">
                    <h5>Feeds</h5>
                    <table class="w3-table w3-striped w3-white">
                        <tr>
                            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
                            <td>New record, over 90 views.</td>
                            <td><i>10 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
                            <td>Database error.</td>
                            <td><i>15 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
                            <td>New record, over 40 users.</td>
                            <td><i>17 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
                            <td>New comments.</td>
                            <td><i>25 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
                            <td>Check transactions.</td>
                            <td><i>28 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
                            <td>CPU overload.</td>
                            <td><i>35 mins</i></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                            <td>New shares.</td>
                            <td><i>39 mins</i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr>

        <div class="w3-container">
            <h5>Loại Tiết Kiệm</h5>
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                @foreach (var item in listLoaiTK)
                {
                    <tr>
                        <td>@item.TenLoai</td>
                        <td>lãi suất @item.LaiSuat%</td>
                    </tr>
                }
            </table><br>
        </div>
        <hr>
        <div class="w3-container">
            <h5>Danh sách thành viên nhóm G9-TK</h5>
            <ul class="w3-ul w3-card-4 w3-white ">
                <li class="w3-padding-16">
                    <img src="~/Content/image/avatar3.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
                    <span class="w3-xlarge">Đào Minh Quân</span><br>
                </li>
                <li class="w3-padding-16">
                    <img src="~/Content/image/avatar5.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
                    <span class="w3-xlarge">Bang Minh Huy</span><br>
                </li>
                <li class="w3-padding-16">
                    <img src="~/Content/image/avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
                    <span class="w3-xlarge">Nguyễn Trí Thông</span><br>
                </li>
            </ul>
        </div>
        <hr>

        <div class="w3-container">
            <h5>Recent Comments</h5>
            <div class="w3-row">
                <div class="w3-col m2 text-center">
                    <img class="w3-circle" src="~/Content/image/avatar1.png" style="width:96px;height:96px">
                </div>
                <div class="w3-col m10 w3-container">
                    <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
                    <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col m2 text-center">
                    <img class="w3-circle" src="~/Content/image/avatar2.png" style="width:96px;height:96px">
                </div>
                <div class="w3-col m10 w3-container">
                    <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
                </div>
            </div>
        </div>
        <br>
        <div class="w3-container w3-dark-grey w3-padding-32">
            <div class="w3-row">
                <div class="w3-container w3-third">
                    <h5 class="w3-bottombar w3-border-green">Demographic</h5>
                    <p>Language</p>
                    <p>Country</p>
                    <p>City</p>
                </div>
                <div class="w3-container w3-third">
                    <h5 class="w3-bottombar w3-border-red">System</h5>
                    <p>Browser</p>
                    <p>OS</p>
                    <p>More</p>
                </div>
                <div class="w3-container w3-third">
                    <h5 class="w3-bottombar w3-border-orange">Target</h5>
                    <p>Users</p>
                    <p>Active</p>
                    <p>Geo</p>
                    <p>Interests</p>
                </div>
            </div>
        </div>
        <!-- End page content -->
    }
</div>